*{
    margin: 0px;
}
#parent{
    background-color: aqua;
    background-image: url('./imgs/tk.jpg');
    background-position: center;
    background-size: cover;
    height: 100vh;
    display: grid;
    /* padding: 20px; */
}

#main{
    border: 1px solid black;
   
}
a{
    text-decoration: none;
    color: white;
    font-size: 25px;
}
#linkbar{
    display: flex;
    justify-content: space-evenly;
    padding: 10px;
    background-color: black;
    position: sticky;
    top: 0px;

}
#child-2{
    display: grid;
    grid-template-rows: 0.4fr 0.4fr 0.4fr;
    height: 80vh;

}
#main-txt{
    font-size: 90px;
    color: white;
    position: relative;
    top: 30px;
}
input{
   width: 600px;
   height: 70px;
   border-radius: 40px;
   border: none;
}
blockquote{
    color: white;
    font-size: 50px;
}
span{
   color: white;
   position: relative;
   left: 30px;
   top: 35px;
}

#tvseries{
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
#tvseries div{
    border: 1px solid black;

}
#gaara{
    background-image: url('./imgs/gg.jpg');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}